%p#notice= notice
=link_to "Create User",user_new_path
%table
  %thead
    %tr
      %th Username
      %th Email
      %th{:colspan => "1"}
  %tbody
    -@users.each do |user|
      %tr
        %td #{user.username}
        %td #{user.email}
        %td= link_to raw('<i class="fas fa-edit"></i>'),user_edit_path(user)
        %td= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i>'),user_delete_path(user), method: :delete, data: { confirm: 'Are you sure?' }
