%link{:href => "https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css",:rel => "stylesheet"}
%script{:src => "https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"}
= form_for(post) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .title-field
    = f.label :title
    = f.text_field :title
  .body-field
    = f.label :body
    = f.text_area :body
  .assigned-users-field 
    %select{:multiple => true,:name => "post[assigned_user_id[]]",:size => "6",:id => 'selecttag'}
      - User.each do |user|
        - if user!=current_user
          %option{:value => user.id}
            #{user.username}
          i=i+1 
  .actions
    = f.submit

:css
   .title-field,.body-field{
      margin-top:5px;
      margin-bottom:5px;
    }
    .assigned-user-field{
      margin-left:10px;
      margin-right:10px;
    }
:javascript
  new MultiSelectTag('selecttag')