.month-filter{"data-target" => "#month-filter", :style => "display: block"}
  = link_to raw('<i class="fa fa-arrow-left" aria-hidden="true"></i>'), posts_path(date: datee - 1.month),remote: true
  %label= datee.strftime("%B %Y")
  = link_to raw('<i class="fa fa-arrow-right" aria-hidden="true"></i>'), posts_path(date: datee + 1.month),remote: true
.week-filter{"data-target" => "#week-filter", :style => "display: block"}
  =link_to raw('<i class="fa fa-arrow-left" aria-hidden="true" ></i>'), posts_path(date: datee - 7.day),remote: true
  %label= datee.beginning_of_week.strftime("%d %b,%Y")
  %label to
  %label= datee.end_of_week.strftime("%d %b,%Y") 
  = link_to raw('<i class="fa fa-arrow-right" aria-hidden="true"></i>'), posts_path(date: datee + 7.day),remote: true