%p#notice= notice
%h1 Posts
.checkboxes
  %label{:for => "week-filter"}
  %input#week-filter{:onchange => "ShowHideDiv(this)", :type => "checkbox",:checked => "checked"}/
  Week
  %label{:for => "month-filter"}
  %input#month-filter{:onchange => "ShowHideDiv(this)", :type => "checkbox",:checked => "checked"}/
  Month
.filters
  = render 'filter' , datee:@date
.container 
  %ul.tabs
    %li.active.tab{'data-tab-target': "#admin_posts"}Admin Posts
    %li.tab{'data-tab-target': "#user_posts"}User Posts
  .tab-content
    %table{class: 'table table-striped active',id: 'admin_posts','data-tab-content': '',border: '0'}
      %thead
        %tr
          %th Title
          %th Body
          %th Created Date
          %th{:colspan => "4"}
      %tbody#adminposts
        = render 'adminposts', posts: @posts
    %table{class: 'table table-striped',id: 'user_posts','data-tab-content': ''}
      %thead
        %tr
          %th Title
          %th Body
          %th Created Date
          %th{:colspan => "4"}
        %tbody#userposts
          = render 'userposts', posts: @posts
%br/
= link_to 'New Post', new_post_path
= paginate @posts


:css
  [data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: block;
  }
  thead,tbody{
    
    width:100%;
    display:table;
  }
  
  .week-filter{
    text-align:center;
  }
  .month-filter{
    text-align:center;
  }
  .checkboxes{
    text-align:center;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  .tab {
    cursor: pointer;
    padding: 10px;
  }

  .tab.active {
    background-color: #CCC;
  }

  .tab:hover {
    background-color: #AAA;
  }

  
:javascript
  const tabs = document.querySelectorAll('[data-tab-target]')
  const tabContents = document.querySelectorAll('[data-tab-content]')

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      const target = document.querySelector(tab.dataset.tabTarget)
      tabContents.forEach(tabContent => {
        tabContent.classList.remove('active')
      })
      tabs.forEach(tab => {
        tab.classList.remove('active')
      })
      tab.classList.add('active')
      target.classList.add('active')
    })
  })
  function ShowHideDiv(elem) {
    console.log(elem);
      var target = document.querySelector('[data-target="#'+elem.id+'"]');
      target.style.display = elem.checked ? 'block' : 'none';
  }